// ==============================
// Custom style
// 自定义样式
// ==============================

.wechat-image {
  margin: 3rem 0 1rem 0;

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
  }
}

.img-h-600 img{
  height: 600px !important;
}
